file_header_template = ========================================================================\nCopyright (c) Kingdom Scripts Technology Solutions. All rights reserved.\nAuthor: Mordecai Godwin\nWebsite: https://kingdomscripts.com. Email: mordecai@kingdomscripts.com\n========================================================================